### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Display data
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [4]:
# Total count of players
unique_players = purchase_data['SN'].unique()
count_unique_players = len(unique_players)

print("Total Players : " + str(count_unique_players))

Total Players : 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# count of unique Items
unique_itemID = purchase_data["Item ID"].unique()
count_unique_items = len(unique_itemID)

print('Number of Unique Items: ' + str(count_unique_items))

# Calculate average purchase price
average_price = round(purchase_data['Price'].mean(),2)

print('The Average Purchase Price: $' + str(average_price))

# total number of purchases
count_of_purchases = purchase_data["Purchase ID"].count()

print('Total number of purchases: ' + str(count_of_purchases))

# Total Revenue of all purchases
sum_of_purchases = purchase_data['Price'].sum()

print('Total Revenue: $'+str(sum_of_purchases))

# Summary Table of the Purchasing Analysis
summary_table1 = pd.DataFrame(
    {"Number of Unique Items":[count_unique_items],
        "Average Purchase Price": ['$'+str(average_price)],
        "Total Number of Purchases":[count_of_purchases],
         "Total Revenue": ['$'+str(sum_of_purchases)]
    }
)
summary_table1

Number of Unique Items: 183
The Average Purchase Price: $3.05
Total number of purchases: 780
Total Revenue: $2379.77

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# counts of all genders
gender_counts = purchase_data.groupby('Gender').nunique()['SN']

gender_counts

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [11]:
# percentages of all genders
gender_percentages = round((gender_counts/count_unique_players*100),2)
gender_percentages

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [12]:
# Summary Table of Gender Demographics
# Clearner format( added percentage sign)
summary_table2 = pd.DataFrame(
    {'Total Count': gender_counts,
     'Percentage of Players':gender_percentages
    }
)

clean_formated2 = summary_table2.style.format({'Percentage of Players': '{:.2f}%'})

clean_formated2


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Purchase Count by Gender
gender_purchase_count = purchase_data.groupby("Gender").count()['Purchase ID']

gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [15]:
# Average Purchase Price by Gender
avg_pp_gender = round(purchase_data.groupby('Gender').mean()['Price'],2)
avg_pp_gender

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [16]:
# Total Purchase value by Gender
sum_purchase = purchase_data.groupby('Gender').sum()['Price']
sum_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [17]:
# Average Total Purchase per person by Gender
avg_total_pp = round((sum_purchase/gender_counts),2)
avg_total_pp

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [18]:
# Summary Table of Purchasing Analysis by Gender
# Cleaner formatted ( added $ sign on  columns 'Avg Purchase Price, Total Purchase Value and AVG total Purchase per Person')
summary_table3 = pd.DataFrame(
    {'Purchase Count': gender_purchase_count,
     'Average Purchase Price':avg_pp_gender,
     'Total Purchase Value': sum_purchase,
     'Avg Total Purchase Per Person':avg_total_pp
    }
)

clean_formated3 = summary_table3.style.format({'Average Purchase Price':'${:.2f}', 'Total Purchase Value':'${:.2f}',
                                             'Avg Total Purchase Per Person':'${:.2f}'})

clean_formated3

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
# Bins for age demographics
# Group age groups
bins = [0,9,14,19,24,29,34,39,100]

age_labels = ['>10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

purchase_data['Age Groups'] = pd.cut(purchase_data["Age"], bins, labels = age_labels)

In [21]:
# Group by age group
# count age groups
# display age groups
age_groups = purchase_data.groupby('Age Groups')

count_age_group = age_groups['SN'].nunique()

count_age_group

Age Groups
>10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [22]:
# percentage of age groups
# round percentage to 2 decimal points
percentage_age_groups = round((count_age_group/count_unique_players) * 100,2)

percentage_age_groups

Age Groups
>10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
40+       2.08
Name: SN, dtype: float64

In [23]:
# Summary table of age demographics
# cleaner format ( adding percentage sign to Percentage of Players column)

summary_table4 = pd.DataFrame(
    {'Total Count': count_age_group,
     'Percentage of Players': percentage_age_groups
    }
)

clean_formated4 = summary_table4.style.format({'Percentage of Players':'{:.2f}%'})

clean_formated4

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
# Use same bins and labels as Age demographics
# Use same grouped 'aged groups'
# calculage Purchase count
count_age_purchases = age_groups['Purchase ID'].count()

count_age_purchases

Age Groups
>10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [25]:
# Calculate Average Purchase Price
avg_age_group_pp = round((age_groups['Price'].mean()),2)

avg_age_group_pp

Age Groups
>10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [26]:
# Calculate Total Purchase Value
total_age_group_pv = age_groups['Price'].sum()

total_age_group_pv

Age Groups
>10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [27]:
# Avg Total Purchase Per Person
avg_tp_pp = round((total_age_group_pv/count_age_group),2)
avg_tp_pp

Age Groups
>10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [28]:
# Summary Table of purchasing analysis (age)
# cleaner formating (add $ sign to columns that represent currency)

summary_table5 = pd.DataFrame(
    {'Purchase Count': count_age_purchases,
     'Average Purchase Price': avg_age_group_pp,
     'Total Purchase Value': total_age_group_pv,
     'Avg Total Purchase Per Person': avg_tp_pp
    }
)

clean_formated5 = summary_table5.style.format({'Average Purchase Price':'${:.2f}', 'Total Purchase Value':'${:.2f}',
                                             'Avg Total Purchase Per Person':'${:.2f}'})

clean_formated5

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
# Top Spender
# Group by unique SN
# Count of purchases by SN
sn_grouped = purchase_data.groupby('SN')

count_sn_grouped = sn_grouped['Purchase ID'].count()
count_sn_grouped.head(10)

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Aelastirin39    2
Aelidru27       1
Aelin32         3
Aelly27         2
Aellynun67      1
Name: Purchase ID, dtype: int64

In [30]:
# Average Purchase Price by SN
avg_pp_spender = round((sn_grouped['Price'].mean()),2)
avg_pp_spender.head(10)

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Aelastirin39    3.64
Aelidru27       1.09
Aelin32         2.99
Aelly27         3.39
Aellynun67      3.74
Name: Price, dtype: float64

In [31]:
# Total Purchase Value
total_pv_spender = sn_grouped['Price'].sum()
total_pv_spender.head(10)

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Aelastirin39    7.29
Aelidru27       1.09
Aelin32         8.98
Aelly27         6.79
Aellynun67      3.74
Name: Price, dtype: float64

In [32]:
# Summary Table
# Total Purchase Value in Descending order
# cleaner formatting (place $ on columns that have currency values)

summary_table6 = pd.DataFrame(
    {'Purchase Count': count_sn_grouped,
     'Average Purchase Price': avg_pp_spender,
     'Total Purchase Value': total_pv_spender
    }
)


sort_tpv = summary_table6.sort_values(['Total Purchase Value'], ascending = False).head()

clean_formated6 = sort_tpv.style.format({'Average Purchase Price':'${:.2f}', 'Total Purchase Value':'${:.2f}'})

clean_formated6

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
# Most Popular Items
# Group by Item ID
# Count of purchases by Item ID
item_grouped = purchase_data.groupby(['Item ID','Item Name'])

#hold price of item value
Item_price = purchase_data['Price']

count_item_grouped = item_grouped['Purchase ID'].count()
count_item_grouped.head(10)

Item ID  Item Name
0        Splinter                             4
1        Crucifer                             3
2        Verdict                              6
3        Phantomlight                         6
4        Bloodlord's Fetish                   5
5        Putrid Fan                           4
6        Rusty Skull                          2
7        Thorn, Satchel of Dark Souls         7
8        Purgatory, Gem of Regret             3
9        Thorn, Conqueror of the Corrupted    4
Name: Purchase ID, dtype: int64

In [34]:
# Total Purchase Value by Item
total_pv_item = item_grouped['Price'].sum()
total_pv_item.head(10)

Item ID  Item Name
0        Splinter                              5.12
1        Crucifer                              9.78
2        Verdict                              14.88
3        Phantomlight                         14.94
4        Bloodlord's Fetish                    8.50
5        Putrid Fan                           16.32
6        Rusty Skull                           7.40
7        Thorn, Satchel of Dark Souls          9.31
8        Purgatory, Gem of Regret             11.79
9        Thorn, Conqueror of the Corrupted    10.92
Name: Price, dtype: float64

In [35]:
# Summary table
# sort Purchase count in descending order
# cleaner formating(add $ to currency columns)

summary_table7 = pd.DataFrame(
    {'Purchase Count': count_item_grouped,
     'Item Price': (total_pv_item/count_item_grouped),
     'Total Purchase Value': total_pv_item
    }
)

sorted_mpt = summary_table7.sort_values(['Purchase Count'], ascending = False).head()

clean_formated7 = sorted_mpt.style.format({'Item Price':'${:.2f}', 'Total Purchase Value':'${:.2f}'})
clean_formated7

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [36]:
# sort previous table by Total Purchase Value instead
# cleaner format(add $ sign to currency columns)

sorted_mpi = summary_table7.sort_values(['Total Purchase Value'], ascending = False).head()

clean_formated8 = sorted_mpi.style.format({'Item Price':'${:.2f}', 'Total Purchase Value':'${:.2f}'})

clean_formated8